body{
    margin: 0;
    padding: 3rem;
    background-color: hsl(257, 40%, 49%);
}

.main{
    margin: auto 7.813rem;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2.313rem;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(236, 229, 229);
    line-height: 1.5;
}

.logo-img{
    width: 12rem;
}

table{
    margin-top: 1.5rem;
}

.mock-img{
    display: inline-block;
    max-width: 42rem;
    margin-top: 3.125rem;
    margin-right: 2.375rem;
}

.about-text{
    width: 98%;
    display: inline-block;
    margin-top: 4.688rem;
}

.btn{
    border-radius: 3.125rem;
    border-style: none;
    padding: 0.938rem 3.75rem 0.938rem 3.75rem;
    color: hsl(257, 40%, 49%);
    box-shadow: 0.125rem 0.25rem rgb(0, 0, 0, 20%);
}

.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.contact-section{
    text-align: right;
}

.bi{
    padding: 0.625rem 0.625rem;
}

.bi:hover{
    fill: hsl(300, 69%, 71%);
}

.attribution { 
    margin: 0.938rem auto 0;
    font-size: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
}
.attribution a { 
    text-decoration: none;
    color: white;
}

.attribution a:hover{
    color: hsl(300, 69%, 71%);
}